@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
    max-height: 31px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px theme('colors.black.500')
}

::-webkit-scrollbar-thumb {
    background: theme('colors.black.600'); 
    border-radius: 20px;
}